@{
    ViewData["Title"] = "O mnie";
    ViewData["Description"] = "Mam 20 lat i programuje od 14 roku życia. Przygodę z programowanie rozpocząłem z ciekawości, w jaki sposób tworzy się aplikacje oraz gry. I tak to ciągnie się za mną aż do dnia dzisiejszego. W głównej mierze zajmuje się tworzeniem aplikacji internetowych z wykorzystaniem najnowszych technologii takich jak: TypeScript, ASP.NET Core, Angular. Mam także doświadczenie w tworzeniu aplikacji na komputery z systemem Windows z wykorzystaniem platformy .NET Framework.";
}

<main role="main" class="container full-page">
    <div class="row">
        <div class="col-lg-6 col-md-5 col-sm-12 align-self-center">
            <img class="img-fluid border-left-overwrite" src="/img/me.jpg" alt="To ja"/>
        </div>
        <div class="col-lg-6 col-md-7 col-sm-12 text-center">
            <h1 style="padding-bottom: 20px;">Kacper Szymczuch</h1>
            <text>
                Mam 20 lat i programuje od 14 roku życia. Przygodę z programowaniem rozpocząłem z ciekawości, w jaki sposób
                tworzy się aplikacje oraz gry. I tak to ciągnie się za mną aż do dnia dzisiejszego. <br /> <br />

                W głównej mierze zajmuje się tworzeniem aplikacji internetowych z wykorzystaniem najnowszych technologii takich jak:
                TypeScript, ASP.NET Core, Angular. Mam także doświadczenie w tworzeniu aplikacji na komputery z systemem Windows z wykorzystaniem platformy .NET Framework. <br /> <br />

                Poza byciem programistą, jestem świeżo upieczonym maturzystą, który ukończył technikum na profilu technik informatyk i zamierza studiować w Warszawie.
                W wolnym czasie ćwiczę na siłowni, uwielbiam sporty zimowe oraz gram na pianinie. <br /> <br />

                Poniżej znajdziesz moje inne portale społecznościowe takie jak Linkedin czy też platformę do przechowywania kodu Github. <br /> <br />

                <a target="_blank" href="https://www.linkedin.com/in/kacper-szymczuch-b0a928154/"><i class="fab fa-linkedin"></i>LinkedIn</a><br />
                <a target="_blank" href="https://twitter.com/KSYMEK"><i class="fab fa-twitter"></i>Twitter</a><br />
                <a target="_blank" href="https://github.com/ksymek"><i class="fab fa-github"></i>Github</a><br />

            </text>
        </div>
    </div>
</main>

<canvas id="canvas"></canvas>

<script src="~/js/points.es5.min.js"></script>