@{
    ViewData["Title"] = "O mnie";
}

<main role="main" class="container full-page">
    <div class="row">
        <div class="col-lg-6 col-md-5 col-sm-12 align-self-center">
            <img class="img-fluid border-left-overwrite" src="/img/me.jpg" alt="To ja"/>
        </div>
        <div class="col-lg-6 col-md-7 col-sm-12 text-center">
            <h1 style="padding-bottom: 20px;">Kacper Szymczuch</h1>
            <text>
                Mam 20 lat i programuje od 14 roku życia. Przygodę z programowanie rozpocząłem z ciekawości, w jaki sposób
                tworzy się aplikacje oraz gry. I tak to ciągnie się za mną aż do dnia dzisiejszego. <br/> <br/>

                Aktualnie w głównej mierze zajmuje się tworzeniem aplikacji internetowych z wykorzystaniem najnowszych technologii takich jak:
                TypeScript, ASP.NET Core, Angular. Jeśli zachodzi taka potrzeba pisze również aplikacje dla desktopowe z wykorzystaniem platformy .NET Framework. <br/> <br/>

                Poza programowaniem, jestem świeżo upieczonym maturzystą, który zamierza studiować w Warszawie. W wolnym czasie ćwiczę na siłowni, uwielbiam sporty zimowe
                oraz gram na pianinie. <br/> <br/>
            </text>
        </div>
    </div>
</main>

<canvas id="canvas"></canvas>

<script src="~/js/points.es5.min.js"></script>