@{
    ViewData["Title"] = "O mnie";
    ViewData["Description"] = "Trochę informacji o mnie od strony zawodowej i nie tylko, dla osób zainteresowanych.";
}

<main role="main" class="container full-page">
    <div class="row">
        <div class="col-lg-6 col-md-5 col-sm-12 align-self-center">
            <img class="img-fluid border-left-overwrite" src="~/img/me.jpg" alt="To ja"/>
        </div>
        <div class="col-lg-6 col-md-7 col-sm-12 text-center">
            <h1>Kacper Szymczuch</h1>
            <h5 style="padding-bottom: 20px;" class="text-muted">Kim jestem?</h5>
            <text>
                Mam 20 lat, mieszkam w Mielcu i programowanie zajmuje się od 14 roku życia. Przygodę z programowaniem rozpocząłem z dziecięcej ciekawości, w jaki sposób
                tworzy się aplikacje oraz gry. Po krótkim czasie tworzenie aplikacji stało się moją pasją i jest nią aż do dziś. <br/> <br/>

                Na dzień dzisiejszy w głównej mierze zajmuje się tworzeniem aplikacji internetowych z wykorzystaniem najnowszych technologii takich jak:
                TypeScript, ASP.NET Core, Angular. Posiadam także doświadczenie w tworzeniu aplikacji na komputery z systemem Windows z wykorzystaniem platformy .NET Framework. <br/> <br/>

                Znajdziesz mnie również na: <br/> <br/>

                <a target="_blank" href="https://www.linkedin.com/in/kacper-szymczuch-b0a928154/"><i class="fab fa-linkedin"></i> LinkedIn</a><br/>
                <a target="_blank" href="https://twitter.com/KSYMEK"><i class="fab fa-twitter"></i> Twitter</a><br/>
                <a target="_blank" href="https://github.com/ksymek"><i class="fab fa-github"></i> Github</a><br/>
            </text>
        </div>
    </div>
</main>

<canvas id="canvas"></canvas>

<script src="~/js/points.es5.min.js"></script>