@{
    ViewData["Title"] = "Strona Główna";
    ViewData["Description"] = "Kacper Szymczuch Fullstack Junior ASP.NET Core Developer";
}

<main role="main" class="container h-75">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-12 text-center">
            <h1>Kacper Szymczuch</h1>
            <h3 style="color: #5BC0BE">
                <span id="typo" class="txt-rotate" data-period="2000" data-rotate='[ "Programuje", "Tworzę", "Nagrywam", "Bawię się tym." ]'></span>
            </h3>
        </div>
    </div>
</main>

<canvas id="canvas"></canvas>

<script src="~/js/points.es5.min.js"></script>
<script src="~/js/typo.es5.min.js"></script>