@{
    ViewData["Title"] = "Oferta";
    ViewData["Description"] = "Tworzenie dynamicznych aplikacji webowych, tworzenie statycznych stron internetowych: strony firmowe, wizytówki w oparciu o projekt graficzny. Instalacja, konfiguracja oraz zarządzanie gotowymi systemami CMS takimi jak WordPress. Obsługa istniejących już aplikacji opartych na technologiach Microsoftu. Obsługa istniejących już aplikacji opartych na technologiach Microsoftu (.NET, ASP.NET, .NET Core).";
}

<main role="main" class="container full-page">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center" style="margin-bottom: 5%">
            <text>
                Wykonuje usługi takie jak:
            </text>
        </div>
        <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 text-center" style="margin-bottom: 5%">
            <ul class="list-group">
                <li class="list-group-item">Tworzenie dynamicznych aplikacji webowych</li>
                <li class="list-group-item">Tworzenie statycznych stron internetowych: strony firmowe, wizytówki w oparciu o projekt graficzny</li>
                <li class="list-group-item">Tworzenie aplikacji okienkowych na komputery z systemem Windows</li>
                <li class="list-group-item">Instalacja, konfiguracja oraz zarządzanie gotowymi systemami CMS takimi jak WordPress</li>
                <li class="list-group-item">CMS - systemy zarządzania treścią</li>
                <li class="list-group-item">Obsługa istniejących już aplikacji opartych na technologiach Microsoftu <br/> <i style="color: #5BC0BE">(.NET, ASP.NET, .NET Core)</i></li>
            </ul>
        </div>
        <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 text-center">
            <text>
                Dokładną wycenę projektu, plan działania oraz potrzebne materiały określimy po wspólnej analizie wymagań i potrzeb biznesowych.
                W sposób rzetelny oraz prosty rozwieję wątpliwości oraz odpowiem na wszelkie pytania. <br/> <br/>
                W celu skontaktowania się, użyj podstrony <a style="color: #6FFFE9;" asp-controller="Home" asp-action="Contact">kontakt</a> lub napisz maila
                na adres <a style="color: #6FFFE9;" href="mailto:kacper.szymczuch@gmail.com?Subject=Zapytanie" target="_top">kacper.szymczuch@gmail.com</a>.
            </text>
        </div>
    </div>
</main>

<canvas id="canvas"></canvas>
<script src="~/js/points.es5.min.js"></script>