
@{
    ViewData["Title"] = "Oferta";
}

<main role="main" class="container full-page">
    <div class="row">
        <div class="col-6 offset-3 text-center" style="margin-bottom: 5%">
            <text>
                Wykonuje usługi takie jak:
            </text>
        </div>
        <div class="col-8 offset-2 text-center" style="margin-bottom: 5%">
            <ul class="list-group">
                <li class="list-group-item">Tworzenie dynamicznych aplikacji webowych</li>
                <li class="list-group-item">Tworzenie statycznych stron internetowych: strony firmowe, wizytówki w oparciu o projekt graficzny</li>
                <li class="list-group-item">CMS - systemy zarządzania treścią</li>
                <li class="list-group-item">Tworzenie aplikacji okienkowych na komputery z systemem Windows</li>
                <li class="list-group-item">Instalacja oraz zarządzanie gotowymi systemami CMS takimi jak WordPress</li>
                <li class="list-group-item">Serwis istniejących już aplikacji opartych na technologiach Microsoftu</li>
            </ul>
        </div>
        <div class="col-6 offset-3 text-center">
            <text>
                Dokładną wycenę projektu oraz plan działania określam po bezpośrednim kontakcie z klientem i po poznaniu jego dokładnych wymagań. 
                W sposób rzetelny oraz prosty postaram się rozwiać wszelkie pytania oraz wątpliwości a także wyjaśnić jakie rzeczy będą wymagane do wykonania projektu. <br/>
                W celu skontaktowania możesz użyć podstrony <a style="color: #5BC0BE;" asp-controller="Home" asp-action="Contact">kontakt</a> lub napisać maila 
                na adres <a style="color: #5BC0BE;" href="mailto:kacper.szymczuch@gmail.com?Subject=Zapytanie" target="_top">kacper.szymczuch@gmail.com</a>
            </text>
        </div>
    </div>
</main>

<canvas id="canvas"></canvas>
<script src="~/js/points.es5.min.js"></script>