@{
    ViewData["Title"] = "Strona Główna";
    ViewData["Description"] = "Kacper Szymczuch Fullstack Junior ASP.NET Core Developer";
}


<main role="main" class="container full-page">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Blog w trakcie budowy</h1>
        </div>
    </div>
</main>

<canvas id="canvas"></canvas>

<script src="~/js/points.es5.min.js"></script>
<script src="~/js/typo.es5.min.js"></script>