@media(max-width: 768px) {
    .full-page-main {
        margin-top: 40%;
        margin-bottom: 40%;
    }
}

@media(min-width: 768px) {
    .full-page-main {
        margin-top: 15%;
        margin-bottom: 20%;
    }
}