@import 'fonts.scss';

body, html {
    font-family: 'Myriad Pro Regular', sans-serif;
    height: 100%;
    background-color: #0B132B;
    color: #FFFFFF;
    z-index: 0;
}

h1 {
    font-family: 'Myriad Pro Light', sans-serif;
    font-size: 4rem;
}

#canvas {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

main {
    position: relative;
    z-index: 2;
}

nav {
    z-index: 1;
    color: #FFFFFF;
}

a {
    color: #FFFFFF;
}

a:hover {
    color: #5BC0BE;
}

.border-left-overwrite {
    border-left: 3px solid #6FFFE9;
    padding-left: 10px;
    padding-bottom: 10px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(111,255,233, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

button {
    border: none;
}

footer {
    z-index: 2;
}

.full-page {
    margin-top: 10%;
    margin-bottom: 10%;
}