@import 'fonts.scss';
@import 'elements.scss';
@import 'media.scss';
@import 'nav.scss';
@import 'cookies.scss';

#canvas {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.border-left-overwrite {
    border-left: 3px solid #6FFFE9;
    padding-left: 10px;
    padding-bottom: 10px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(111,255,233, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.full-page {
    margin-top: 10%;
    margin-bottom: 10%;
}

.list-group-item {
    background-color: #1C2541;
    font-family: 'Myriad Pro Light';
}