@model Client.Models.IdentityModels.RegisterModel

@{
    ViewData["Title"] = "Rejestracja";
    ViewData["Description"] = "Rejestracja do bloga";
    Layout = "";
    
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kacper Szymczuch - @ViewData["Title"]</title>
    <meta name="author" content="Kacper Szymczuch" />
    <meta name="description" content="@ViewData["Description"]">
    <meta name="keywords" content="Kacper, Szymczuch, strony, internetowe, HTML, CSS, JavaScript, .NET Core, programista, blog" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/favicon-16x16.png">

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.min.css" />
</head>
<body>
    
    <main role="main" class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Rejestracja</h5>
                        <form class="form-signin">
                            <div class="form-label-group">
                                <input asp-for="Username" type="text" id="inputUsername" class="form-control" placeholder="Nazwa użytkownika" autofocus>
                                <label for="inputUsername">Nazwa użytkownika</label>
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>

                            <div class="form-label-group">
                                <input asp-for="Email" type="email" id="inputEmail" class="form-control" placeholder="Adres email">
                                <label for="inputEmail">Adres email</label>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="form-label-group">
                                <input asp-for="Password" type="password" id="inputPassword" class="form-control" placeholder="Hasło">
                                <label for="inputPassword">Hasło</label>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            
                            <div class="form-label-group">
                                <input asp-for="RepeatPassword" type="password" id="inputRepeatPassword" class="form-control" placeholder="Powtórz hasło">
                                <label for="inputRepeatPassword">Powtórz hasło</label>
                                <span asp-validation-for="RepeatPassword" class="text-danger"></span>
                            </div>

                            <div class="custom-control custom-checkbox mb-3">
                                <input asp-for="TermsOfUseAgree" type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Akceptuje regulamin</label>
                                <span asp-validation-for="TermsOfUseAgree" class="text-danger"></span>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Utwórz konto</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <environment include="Development">
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"
                asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator"
                crossorigin="anonymous"
                integrity="sha256-F6h55Qw6sweK+t7SiOJX+2bpSAa3b/fnlrVCJvmEj1A=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"
                asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive"
                crossorigin="anonymous"
                integrity="sha256-9GycpJnliUjJDVDqP0UEu/bsm9U+3dnQUH8+3W10vkY=">
        </script>
    </environment>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141918843-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-141918843-1');
    </script>
</body>
</html>