@using Microsoft.AspNetCore.Http.Features
@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner) {
    <div class="row">
        <div class="col-12">
            <div id="cookieConsent" class="alert text-center cookiealert fade show" role="alert">
                <b>Lubisz ciasteczka?</b> &#x1F36A; Ta strona wykorzystuje ciasteczka dla twojej wygody.
                <button type="button" class="btn btn-primary btn-sm acceptcookies" aria-label="Close" data-dismiss="alert" data-cookie-string="@cookieString">
                    Zgadzam się
                </button>
            </div>
        </div>
    </div>

    <script>
        (function() {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click",
                function(event) {
                    document.cookie = button.dataset.cookieString;
                },
                false);
        })();
    </script>
}